{% extends 'main.html' %}
{% block section1 %}
    <form action="add" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" placeholder="Title" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="duration">Duration:</label>
            <input type="text" class="form-control" placeholder="Duration in hour" id="duration" name="duration">
        </div>
        <div class="form-group">
            {% for student in students %}
                <input type="checkbox" value="{{ student.id }}" name="students[]" id="{{ student.name }}">
                <label for="{{ student.name }}">{{ student.name }} {{ student.family }}</label><br/>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}