<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<main>
    <div class="jumbotron justify-content-center justify-content-center">
        <h1>WELCOME</h1>
    </div>
    <div class="container col-3 justify-content-center">
        {% block section1 %}

        {% endblock %}
    </div>
</main>
</body>
</html>